{% extends "base.html" %}
{% block title %}namecard_search.html{% endblock %}
{%block content %}
<h1>Namecard Search</h1>
<br>
<form action="." method="post">{% csrf_token %}
     {{form.as_table}}
     <input type="submit" value="Submit" class="btn btn-primary btn-sm">
</form>
<br/><br/>
{% if object_list %}
   {% for namecard in object_list %}
    <h2><a href="{{namecard.get_absolute_url}}">{{namecard.name}}</a> </h2>
    {% endfor %}
  {% elif search_term %}
  <b><i>Search Word({{search_term}})Not Found!</i></b>
  {% endif %}
{% endblock %}