{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}sugang_list.html{% endblock %}
{% block content %}

<br>
    <div>
        <li>
           <a href="{{ gwamok.get_absolute_url }}">
            {% for sugang in object_list %}
            <a class="font h2" href="{% url 'gwamok:sugang_detail' sugang.gwamok %}">{{gwamok.title}}</a>
           &emsp; <span class="font-italic h5">{{gwamok.semester}} {{gwamok.professor}} </span>
        </a>
        </li>
        <hr>
        <br>
        {% endfor %}
    </div>


{% endblock %}