{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}sugang_list.html{% endblock %}
{% block content %}

<div id="content">
    <h1>Sugang List</h1>
    <br>
    <div>
        <li>
            {% for sugang in object_list %}
            <a class="font h2" href="{% url 'gwamok:sugang_detail' sugang.id %}">{{gwamok}}</a>
           &emsp; &emsp; <span class="font-italic h5">{{sugang.semester}} {{sugang.professor}} </span>
            </a>
        </li>
        <hr>
        <br>
        {% endfor %}
    </div>
</div>

{% endblock %}